* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
a{
    text-decoration: none;
}

.header {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.header::after {
    content: "";
    display: inline-block;
    clear: both;
}

.nav {
    list-style: none;
    position: absolute;
    right: 100px;
}

.nav > li {
    margin-right: 10px;
    float: left;
}

.nav > li a {
    border-bottom: 1px solid black;
    color: black;
}

.nav li a:hover{
    color:#A020F0;
    border-bottom: 1px solid #A020F0;
}

.more {
    position: absolute;
    right: 10px;
    margin-right: 20px;
    background-color: blue;
    padding: 2px 3px;
    color: white;
}

.logo {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    text-align: center;
}

.logo a img {
    width: 200px;
    height: 100px;
}

.scan {
    width: 100%;
    position: relative;
    text-align: center;
}

.scan::after {
    content: "";
    display: inline-block;
    clear: both;
}

.scan .scan-frame {
    display: inline-block;
    position: relative;
}

.scan .scan-frame input {
    width: 450px;
    height: 35px;
    padding-right: 45px;
    border: 1px solid grey;
}

.scan .scan-frame img {
    position: absolute;
    width: 40px;
    height: 32px;
    right: 1px;
    margin-top: 1px;
}

.scan > button {
    display: inline-block;
    height: 37px;
    padding: 0px 20px;
    line-height: 30px;
    background-color: blue;
    border-style: none;
    color: white;
}

.ad {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.ad .image-download {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_09b6296.png");
}

.ad-link {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.ad-link ul {
    display: inline-block;
}

.ad-link ul li {
    list-style: none;
    float: left;
    margin: 0px 5px;
}

.ad-link ul li a {
    color: grey;
    border-bottom: 1px solid grey;
}

.ad-link::after {
    content: "";
    display: inline-block;
    clear: both;
}