* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 500px;
    border: 1px solid black;
}
.wrapper::after{
    content: "";
    /*clear作用于块状元素*/
    clear: both;
    display: block;
}

.context {
    float: left;
    width: 200px;
    height: 100px;
    background-color: aqua;
}
.clear{
    /*去除俩端的浮动*/
    clear: both;
}

.box-float {
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
}