div {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

#div1 {
    background-color: #ff1d49;
    height: 200px;
}

.tbl-div {
    background-color: aqua;
}
/*给有ID属性的控件添加
与class并集  谁在后面谁有效果
*/
[id]{

}
[id='div1']{

}