body, h1, h2, h3, h4, h5 {
    margin: 0px;
}

body {
    font: 12px/1.5 Tahoma, Arial;
    font-family: '宋体';
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

input {
    margin: 0px;
    padding: 0px;
}

button {
    outline: none;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.leayer {
    width: 1190px;
    margin: 0px auto;
}

.c4 {
    color: #f40;
}

.c5 {
    color: #f50;
}
.wt{
    background-color: #FFFFFF;
}