ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    color: #6c757d;
}

.row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-lg-3 {
    padding-left: 0;
    padding-right: 0;
}

.header_top {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #232323;
}

body {
    line-height: 24px;
    font-size: 14px;
}

.container-fluid {
}

.container-fluid a:hover {
    opacity: 1;
}

.container-fluid a > i {
    margin-right: 5px;
}

.header_contact_info ul > li > a {
    color: #fff;
    font-size: 14px;
    opacity: 0.6;
    line-height: 15px;
    display: inline-block;
}

.header_contact_info > ul > li {
    display: inline-block;
    padding-right: 20px;
    margin-right: 20px;
    line-height: 15px;
    position: relative;
}

.header_contact_info > ul > li::before {
    content: "";
    border-right: 1px solid #a5a5a5;
    right: 1px;
    top: 1px;
    position: absolute;
    bottom: 1px;
}

.header_contact_info > ul > li:last-child::before {
    display: none;
}

.language_currency {
    text-align: right;
    padding: 0px;
}

.language_currency > ul > li > a {
    color: #fff;
    font-size: 14px;
    opacity: 0.6;
    line-height: 15px;
    display: inline-block;
}

.language_currency > ul > li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
    line-height: 15px;
}

.language_currency > ul > li::before {
    content: "";
    top: 1px;
    bottom: 1px;
    position: absolute;
    right: 1px;
    border-right: 1px solid #a5a5a5;
}

/** ::不要留空格 **/
.language_currency > ul > li:last-child::before {
    display: none;
}

.language_currency > ul > li:hover ul.dropdown_currency {
    visibility: visible;
    max-height: 200px;
}

.dropdown_currency {
    position: absolute;
    background: #fff;
    border: 1px solid #ededed;
    padding: 10px 20px;
    min-width: 180px;
    text-align: left;
    z-index: 9999;
    visibility: hidden;
    border-radius: 3px;
    max-height: 0;
    right: 0;
}

.dropdown_currency > li > a {
    text-transform: capitalize; /*文字大小写 首字母大写*/
    color: #000000;
    font-size: 14px;
    display: block; /**块状 行点击**/
    margin: 5px 0px 5px;
    white-space: nowrap; /**空白不换行**/
}

.dropdown_currency > li > a:hover {
    color: #c82333;
}

/************************************************** header 2 *****************************************************/
/**粘性定位**/
.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    display: block;
}

.container-menu {
    padding: 50px 20px 50px 20px;
}

.menu-ul > li {
    display: inline-block;
    position: relative;
}

.header-account-area {
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
}

.header-account-area > div {
    margin-right: 20px;
}

.logo {
    text-align: center;
}

.main-menu nav > ul {
    display: flex; /**相对布局**/
    justify-content: center;
}

.main-menu nav > ul > li {
    margin-right: 45px;
    position: relative;
}

.main-menu nav > ul > li .sub-menu {
    display: block;
    visibility: hidden;
    position: absolute;
    min-width: 220px;
    padding: 5px 20px;
    background: #ffffff;
    left: 0;
    right: auto;
    overflow: hidden;
    transition: 0.5s;
    z-index: 98;
    top: 120%;
    text-align: left;
    box-shadow: 0 3px 11px 1px #aaaaaa; /**阴影效果**/

}

/**前面的操作 后面的控件**/
.main-menu nav > ul > li:hover ul.sub-menu {
    visibility: visible;
    padding: 24px 20px; /**添加之后有时觉效果**/
}

.main-menu nav > ul > li .mega-menu {
    visibility: hidden;
    display: block;
    box-shadow: 0 3px 11px 1px #aaaaaa; /**阴影效果**/
    text-align: left;
    z-index: 99;
    padding: 5px 20px;
    background: #ffffff;
    left: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: auto;
    min-width: 100%;
    transition: 0.5s;
    top: 120%;
    transform-origin: 0 0 0;
}

.main-menu nav > ul > li:hover .mega-menu {
    visibility: visible;
    padding: 25px 30px 30px 30px; /**添加之后有时觉效果**/
}

.main-menu nav > ul > li.mega-items {
    position: static;
}

.mega-menu-inner > li {
    width: 25%;
    float: left;
}

.mega-menu-inner > li > ul > li {
    display: block;
}

.menu-ul > li > ul > li a:hover,
.mega-menu-inner > li > ul > li a:hover,
.mega-menu-inner > li a:hover {
    color: #c82333;
}

.mega-menu-inner > li > a {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin: 12px 0px;
}

.mega-menu-inner > li.h-banner-menu2 {
    width: 100%;
}

.h-banner-menu2 {
    display: flex;
    margin-top: 18px;
}

.h-banner-menu2 img {
    width: 90%;
    height: 80%;
}

.h-banner-menu2 img:hover {
    transition: 0.3s;
    transform: scale(1.05) rotate(0.05grad);
}

.heard-banner-menu {
    margin: 18px 10px;
}

/************************header-account-area********************/
.header-account-list > a {
    font-size: 24px;
}

.header-account-list {
    position: relative;
}

.header-account-area > .header-account-list > a:hover {
    color: #c82333;
}

.header-account-list > .dropdown-search {
    position: absolute;
    font-size: 24px;
    background: #fff;
    top: 157%;
    width: 300px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
    display: none;
    right: 0;
}

.header-account-list > .dropdown-search > form {
    width: 100%;
    position: relative;
}

.header-account-list button {
    background: #fff;
    border: 0;
    position: absolute;
    width: 40px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: #232323;
    right: 0;

}

.header-account-list input {
    background: inherit;
    border: 0;
    width: 100%;
    padding: 0 50px 0 10px;
    height: 42px;
    color: #232323;
}

.header-account-list input:focus {
    border: 1px solid #fff;
}

.mini-cart-wrapper {
    position: relative;
}

.mini-cart-wrapper:hover .mini-car {
    visibility: visible;
}

.mini-car {
    position: absolute;
    right: 0;
    box-shadow: 0 1px 5px 1px #aaaaaa;
    visibility: hidden;
    z-index: 9999;
    background-color: #FFFFFF;
}

.cra-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.cart-img img {
    width: 70px;
    height: 70px;
}

.cra-item > div > a:hover {
    color: #c82333;
}

.cra-item > .cart-info {
    width: 200px;
}

.cra-item > div {
    margin: 10px 15px;
}

.mini-cart-table > div > .price {
    float: right;
}

.mini-cart-table > div {
    padding: 5px 10px;
}

.cart-button a {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #eef0f1;
    border: 1px solid #eef0f1;
    text-align: center;
    padding: 10px 0px;
    margin: 5px 10px;
    display: block;
    line-height: 20px;
    border-radius: 3px;
}

.cart-button a:hover {
    background-color: #FF0044;
    color: #fff;
    border-color: #fff;
}

/*******************************section***********************************************/
.slider-section {
}

.single-slider {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 674px;
}

.container {
    padding: 0px;
    max-width: 100%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.slider-content > a {
    background-color: black;
    padding: 10px 30px;
    color: #eeeeee;
    display: inline-block;
    text-transform: uppercase;
}

.slider-content > h1 {
    margin-top: 30px;
    font-size: 58px;
}

/**选择的对象的动画**/
.active .slider-content h1,
.active .slider-content h2,
.active .slider-content p,
.active .slider-content a {
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}

.slider-content > h2 {
    margin-top: 20px;
    text-transform: uppercase;
}

.slider-content > p {
    margin-top: 30px;
    font-size: 24px;
}

.slider-area .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translatex(-50%);
}

.owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    transition: .3s;
}

.slider-area .owl-dots > .owl-dot.active {
    background: #232323;
}

.slider-area .owl-dots > .owl-dot:hover {
    background: #232323;
}

/**---------------------------------------------------------------------------**/
.shipping-area {
    padding: 70px 0px;
    background: #f4f4f4;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 98px;
}

.single-shipping {
    display: flex;
    align-items: center;
}

.single-shipping .shipping-icone img {
    width: 60px;
}

.single-shipping .shipping-content {
    margin-left: 20px;
}

/**----------------------product area -----------------------------**/
.product-area {
    margin-bottom: 78px;
}

.product-area .select-title > a {
    font-size: 24px;
    line-height: 24px;
}

.product-area .select-title > p {
    position: relative;
    font-size: 20px;
    line-height: 16px;
    padding-left: 70px;
    margin-top: 15px;
}

.product-area .select-title > p::before {
    content: "";
    border-bottom: 1px solid grey;
    width: 50px;
    height: 1px;
    display: inline-block;
    left: 0;
    top: 50%;
    position: absolute;
}

.product-area .product-item {
    padding: 0px 15px;
}

.product-area .product-item .product-thumb {
    position: relative;
    overflow: hidden;
}

.product-area .product-item .label-product {
    position: absolute;
    top: 0;
}

.product-area .product-item .label-product span {
    color: white;
    background-color: #FF0044;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 10px 0px;
    padding: 2px 3px;
}

.product-area .product-item img {
    width: 100%;
    margin: 0 auto;
}

.product-area .product-item .secondary-img {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
}

.single-product:hover .secondary-img {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.single-product:hover .product-link {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
}

.product-area .product-content h4 > a {
    font-size: 18px;
}

.product-area .product-link {
    transition: all 0.5s ease; /**all 所有属性 0.5s时间间隔 ease 过渡函数(初始过渡到最终的状态速度快->慢)**/
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    text-align: center;
    z-index: 9;
    bottom: -10px;
    visibility: hidden;
}

.product-area .product-link ul li {
    display: inline-block;
    width: 18%;
    text-align: center;
}

.product-area .product-link ul li a {
    font-size: 18px;
    height: 40px;
    background-color: #FFFFFF;
    color: #1e1e1f;
    line-height: 40px;
    padding: 10px 27px;
}

.product-area .product-price .old-price {
    text-decoration: line-through;
}

.product-start ul li {
    display: inline-block;
}


/********************************************categories-banner-area********************************************/
.categories-banner-area {
    margin-bottom: 98px;
}

.categories-banner-area h2 {
    text-transform: uppercase;
}

.categories-banner-area .introduce {
    font-size: 20px;
}

.categories-banner-area .categories-title {
    position: relative;
    padding-bottom: 10px;
    line-height: 24px;
    height: 34px;
}

.categories-banner-area .introduce {
    position: absolute;
    padding-left: 70px;
}

.categories-banner-area .introduce::before {
    content: "";
    border-bottom: 1px solid grey;
    width: 50px;
    height: 1px;
    display: inline-block;
    line-height: 24px;
    top: 50%;
    left: 0;
    position: absolute;
}

.categories-banner {
    position: relative;
}

.categories-banner ul {
    position: absolute;
    display: inline-block;
    background-color: #FFFFFF;
    padding: 30px 40px;
    width: 20%;
    margin-top: 10%;
    left: 10%;
}

.categories-banner ul li {
    padding: 8% 0px;
    text-align: center;
}

.categories-banner ul li a:hover {
    color: #FF0044;
    text-decoration: none;
}

.categories-banner img {
    width: 100%;
    position: relative;
}

/*******************************brand-area************************************/
.brand-area {
    position: relative;
    margin-bottom: 98px;
}

.brand-area .brand-list {
    display: flex;
    justify-content: center;
    border: 1px solid darkgray;
    padding: 30px 0;
    border-radius: 5px;
}

.brand-area .brand-list li a {
    display: block;
    height: 100%;
    width: 100%;
}

.brand-area .brand-list li {
    width: 100%;
}

.brand-area .brand-list li img:hover {
    transform: scale(1.05) rotate(0.05deg);
}

.brand-area:hover .owl-nav {
    visibility: visible;
}

.brand-area .owl-nav {
    width: 100%;
    position: absolute;
    height: 42px;
    top: 49%;
    visibility: hidden;
}

.brand-area .owl-nav div i {
    font-size: 28px;
    display: flex;
    text-align: center;
}

.brand-area .owl-prev {
    position: absolute;
    left: 0;
    height: 42px;
    width: 42px;
    display: flex;
    background-color: #f4f4f4;
    color: #0b0b0b;
    border: 1px solid black;
    justify-content: center;
}

.brand-area .owl-next {
    position: absolute;
    left: auto;
    right: 0;
    height: 42px;
    width: 42px;
    background-color: #f4f4f4;
    color: #0b0b0b;
    border: 1px solid black;
    text-align: center;
}

.brand-area .owl-next i::before,
.brand-area .owl-prev i::before {
    padding-top: 10%;
    width: 42px;
}

/*******************************categories-area************************************/
.nav-tabs {
    border-bottom: none;
}

.categories-area .product-classify {
    display: flex;
    line-height: 24px;
}

.categories-area .product-classify h1 {
    width: 30%;
    line-height: 40px;
}

.categories-area p {
    font-size: 20px;
    padding-left: 70px;
}

.categories-area p::before {
    content: "";
    border-bottom: 1px solid grey;
    left: 0;
    height: 1px;
    width: 50px;
    top: 50%;
    position: absolute;
}

.categories-area .title {
    position: relative;
}

.categories-area .product-classify .classify-list {
    display: flex;
    width: 100%;
    line-height: 40px;
    justify-content: flex-end;
}

.categories-area .product-classify .classify-list li a {
    margin: 0 10px;
    line-height: 40px;
}


.categories-area .product-item {
    position: relative;
    text-align: left;
}

.categories-area .product-item:hover .secondary-img {
    opacity: 1;
    visibility: visible;
    position: absolute;
}

.categories-area .product-item:hover .action-list {
    visibility: visible;
    opacity: 1;
    bottom: 25%;
}


.categories-area .product-item .secondary-img {
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
}

.discount span {
    font-size: 14px;
    color: white;
    background-color: red;
    position: absolute;
    padding: 2px 8px;
    margin: 5px 10px;
    top: 0;
    left: 0;
}

.categories-area .product-item img {
    width: 100%;
    margin: auto;
}

.categories-area .product-item .action-list {
    transition: all 0.5s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    font-size: 0; /**去除li之间的空格**/
    visibility: hidden;
}

.categories-area .product-item .action-list ul li {
    background-color: white;
    display: inline;
    font-size: 24px;
    padding: 12px 20px;
    margin: 0 0;
}

.categories-area:hover .categories-list .owl-nav {
    visibility: visible;
}


.categories-list .owl-nav {
    visibility: hidden;
    position: absolute;
    top: 40%;
    width: 100%;
}

.categories-list .owl-prev {
    position: absolute;
    left: 20px;
    height: 42px;
    width: 42px;
    background-color: grey;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 42px;

}

.categories-list .owl-next {
    position: absolute;
    right: 20px;
    height: 42px;
    width: 42px;
    background-color: grey;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 42px;
}

.tab-content > .tab-pane.active {
    display: block;
    opacity: 1;
    visibility: visible;
    height: auto;
}

.tab-content > .tab-pane {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.classify-list li a.active {
    border-bottom: black 1px solid;
}

.classify-list li a:hover {
    border-bottom: black 1px solid;
    text-decoration: none;
}

/***===================================================end=================================================================****/

/****===================================================blog start===============================================================***/
.blog-area {
    background-color: #f4f4f4;
    padding: 90px 0 50px 0;
}

.blog-area h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.blog-area span {
    font-size: 20px;
}

.introduce {
    display: inline-block;
    position: relative;
    padding-left: 70px;
}

.blog-area .introduce span::before {
    content: "";
    border-bottom: 1px solid grey;
    width: 50px;
    height: 1px;
    display: inline-block;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
}

.blog-area .blog-list figcaption {
    background-color: white;
    padding: 10px 5px;
}

.blog-area .single-blog h4 {
    font-size: 18px;
    text-transform: uppercase;
}

.blog-area .single-blog p {
    font-size: 14px;
}

.blog-area .single-blog figcaption > a {
    position: relative;
    display: inline-block;
    padding-left: 50px;
}

.blog-area .single-blog a span::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 30px;
    border-bottom: grey solid 1px;
    left: 0;
    top: 50%;
}

.blog-area img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
}

.blog-area img:hover {
    transform: scale(1.1) rotate(0.05deg);
}

.blog-area .blog-list {
    position: relative;
}

.blog-area .owl-nav {
    position: absolute;
    width: 100%;
    top: 40%;
    visibility: hidden;
}

.blog-area:hover .owl-nav {
    visibility: visible;
}

.blog-area .owl-prev {
    position: absolute;
    left: 0;
    padding: 25px 35px;
    font-size: 30px;
    border: grey solid 1px;
}

.blog-area .owl-next {
    position: absolute;
    right: 0;
    padding: 25px 35px;
    font-size: 30px;
    border: grey solid 1px;
}

.blog-area figure > div {
    /**内容超出的属性**/
    overflow: hidden;
}

/**=============================testimonial-area==================================**/
.testimonial-area {
    padding: 90px 0 20px 0;
}

.testimonial-area .introduce {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 70px;
}

.testimonial-area .introduce p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 0;
}

.testimonial-area .introduce p::before {
    content: "";
    border-bottom: grey solid 1px;
    position: absolute;
    top: 49%;
    width: 60px;
    height: 1px;
    line-height: 24px;
    left: 0;
}

.thumb-area {
    position: relative;
    padding: 20px 0 50px;
}

.testimonial-thumb-wrapper {
    margin: auto;
    max-width: 60%;
}

.testimonial-thumb-column3 {
    max-width: 30%;
}

.thumb-head > img {
    margin: auto;
    transform: scale(0.6);
}

.slick-center .thumb-head img {
    transform: scale(1);
}

/*.slick-cloned{*/
/*    visibility: hidden;*/
/*}*/
/*.slick-active{*/
/*    visibility: visible;*/
/*}*/

.thumb-area .thumb-content {
    text-align: center;
}

.thumb-area .thumb-content p {
    display: inline-block;
}


.slick-next {
    position: absolute;
    right: 0;
    top: 50%;
    left: auto;
    z-index: 999;
}

/**去掉左右滑块父级的定位 将定位提到整体**/
.slick-slider {
    position: static;
}

.slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 999;
}

/***=====================================banner_area======================================****************/

.banner-area img {
    width: 100%;
}

.banner-thumb {
    transition: 0.3s;
    position: relative;
    padding-bottom: 70px;
}

.banner-thumb:hover::after {
    transition: all 900ms linear;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.banner-thumb:hover::before {
    transition: all 900ms linear;
    top: 0;
    bottom: 0;
    opacity: 0;
}

/*.banner-thumb::before{*/
/*    background-color: rgba(255, 255, 255, 0.2);*/
/*    content: "";*/
/*    position: absolute;*/
/*    opacity: 1;*/
/*    transition: all 900ms linear;*/
/*    left: 50%;*/
/*    right: 51%;*/
/*    bottom: 0;*/
/*    top: 0;*/
/*    pointer-events: none;*/
/*}*/
.banner-thumb::after {
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    position: absolute;
    opacity: 1;
    transition: all 900ms linear;
    left: 0;
    bottom: 50%;
    right: 0;
    top: 50%;
}

/**============================newsletter-area==============================**/
.newsletter-area {
    background-color: #a5a5a5;
    padding: 50px 0 50px;
}

.newsletter-area > div {
    line-height: 40px;
    height: 40px;
    position: relative;
}

.newsletter-area h4,
.newsletter-area span {
    line-height: 40px;
}

.h4, h4 {
    margin-bottom: 0;
}

.newsletter-area input {
    position: absolute;
    right: 30px;
    border: none;
    width: 400px;
    border-bottom: grey solid 1px;
    background-color: #a5a5a5;
}

.newsletter-area input:focus {
    outline: none;
}

.newsletter-area button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    height: 38px;
}

/**============================footer-widgets=======================**/
.footer-widgets {
    background-color: #0b0b0b;
    padding: 50px 15px;

}

.footer-widgets h4 {
    color: white;
    font-size: 24px;
}

.footer-widgets p,
.footer-widgets ul,
.footer-widgets img {
    color: grey;
    margin-top: 20px;
    font-size: 18px;
}

.footer-widgets ul li {
    padding: 5px;
}

.footer-widgets .follow-ul li {
    display: inline-block;
    font-size: 24px;
    background-color: #a5a5a5;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
}

.footer-widgets .follow-ul li a {
    line-height: 40px;
    display: block;
}

/**向右移动的效果**/
.footer-widgets .link-ul li:hover,
.footer-widgets .account-ul li:hover {
    padding-left: 15px;
    transition: 0.3s;
}

/**================================foot-bottom=========================**/
.foot-bottom {
    background-color: #0b0b0b;
    padding: 20px 0;
}

.foot-bottom ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 1px;
    position: relative;
}

.foot-bottom ul li:before {
    content: "";
    border-right: white solid 1px;
    right: 1px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    z-index: 9999;
}

.foot-bottom ul li:last-child:before {
    content: none;
}

/**==============================pop-view============================**/
.pop-view {
    width: 100%;
    position: fixed;
    top: 50%;
}

.pop-view .window {
    margin: auto;
    display: block;
    width: 70%;
    height: 60%;
    min-height: 500px;
    min-width: 780px;
    background-color: yellow;
    position: relative;
}

.pop-view .window button {
    position: absolute;
    right: 5px;
    padding: 3px 5px;
    background-color: black;
    border: none;
    color: white;
    clear: both;
}

.pop-view .window .content {
    position: absolute;
    top: 40%;
    width: 100%;
}

.pop-view .window .title,
.pop-view .window .introduce,
.pop-view .window .option,
.pop-view .window .remember {
    text-align: center;
    width: 100%;
}
