<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>基本使用</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="div-filter">
    <h1>{{filterMessage|filterFunction}}</h1>
    <h2>{{reverseMessageStr}}</h2>
    <input v-model="filterMessage">
    <button v-on:click="reverseMessage">反转</button>
</div>

<div id="div-condition">
    <p v-if="canSee">是否可以看见</p>
    <p v-else>否则显示</p>
    <button @click="changeValue">转换</button>

    <ul>
        <li v-for="name in names">
            {{name}}
        </li>
    </ul>

    <ul>
        <template v-for="person in persons">
            <li>
                <label>人物介绍:</label><label>{{person.name}} </label><br>
                <label>年龄:</label><label>{{person.age}} </label><br>
                <label>性别:</label><label v-if="person.sex==1">男</label>
                <label v-else>女</label>
            </li>
        </template>
    </ul>
</div>

<div id="div-watch">
    <p>{{count}}</p>
    <button @click="count++">点我</button>
</div>
<script>
    const vuefilter = new Vue({
        el: "#div-filter",
        data: {
            filterMessage: "这是展示的信息！"
        },
        methods: {
            reverseMessage: function () {
                this.filterMessage = this.filterMessage.split("").reverse().join("");
            }
        },
        //计算属性 默认get 可以set
        computed: {
            reverseMessageStr: function () {
                return this.filterMessage.split("").reverse().join("");
            }
        },
        filters: {
            filterFunction: function (value) {
                console.log("value=" + value)
                if (!value) return '';
                return "这是经过过滤器修改的" + value;
            }
        }
    });

    console.log("console:vuefilter:" + vuefilter.reverseMessageStr)

    //========================条件循环语句====================================
    const condition = new Vue({
        el: "#div-condition",
        data: {
            canSee: false,
            names: ["姓名1", "姓名2", "姓名3", "姓名4"],
            persons: [{name: "cc", age: 12, sex: 1}
                , {name: "安师大", age: 222, sex: 0}
                , {name: "老哥", age: 21, sex: 0}]
        },
        methods: {
            changeValue: function () {
                this.canSee = !this.canSee;
            }
        }
    });

    //=================================watch===================================
    const watch = new Vue({
        el: "#div-watch",
        data: {
            count: 1
        }
    });
    watch.$watch("count", function (newValue, oldValue) {
        console.log("newValue=" + newValue + " oldValue=" + oldValue);
    })
</script>
</body>
</html>