<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!--key 设置,若未发生改变,将会复用原元素,提高性能-->
    <ul>
        <li v-for="(item,index) in arr" :key="item">
            {{index}}--------->{{item}}
        </li>
    </ul>
</div>
<div id="property">
    <ul>
        <li v-for="value in person">
            {{value}}
        </li>
    </ul>
    <!--v-for 和 v-if 连用 v-for的优先级高-->
    <ul>
        <li v-for="(value,name) in person" v-if="value!==null">
            {{name}}:{{value}}
        </li>
    </ul>


</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            arr: ["java", "c", "jsp", "html"]
        }
    });
    //响应式系统内触发状态更新：
    vm.$set(vm.arr, 3, "html5")
    vm.arr.splice(2)
    var objectVm = new Vue({
        el: "#property",
        data: {
            person: {
                id: 123,
                name: "对象名称",
                age: 22
            }
        }
    })
    //不能通过set设置跟属性,可以设置嵌套属性
    objectVm.$set(objectVm.person, "sex", true)
    //添加多个属性
    objectVm.person=Object.assign({},objectVm.person,{
        address:"xx省xx市xx区",
        areaCode:"320000"
    })
</script>
</body>
</html>