<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model="message" placeholder="edit me">
    <p>Message is {{message}}</p>
    <br>
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{area}}</p>
    <br>
    <textarea v-model="area" placeholder="add multiple lines"></textarea>
    <br>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>
    <br>
    <!--value相同　绑定同一个数据源-->
    <div>
        <input type="checkbox" id="jack" value="jack" v-model="checkedName">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="john" v-model="checkedName">
        <label for="john">john</label>
        <input type="checkbox" id="mike" value="mike" v-model="checkedName">
        <label for="mike">mike</label>
        <br>
        <span>checkedName is {{checkedName}}</span>
    </div>
    <!--单选按钮-->
    <div>
        <input type="radio" id="one" value="one" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked is : {{picked}}</span>
    </div>

    <div>
        <select v-model="selected">
            <option disabled value="">--请选择--</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <span> selected is:{{selected}}</span>
    </div>
    <div>
        <select v-model="citySelected">
            <option v-for="(city,index) in cityList" :value="city.cityCode">
                {{city.cityName}}
            </option>
        </select>
        <span>Selected is:{{citySelected}}</span>
    </div>
</div>
<!--修饰符-->
<div id="changeApp">
    <!--.lazy 回车之后才会改变-->
    <input v-model.lazy="lazyText" placeholder="lazyText">
    <p>lazyText={{lazyText}}</p>
    <!--.number 数字-->
    <input v-model.number="numberText" placeholder="numberText">
    <p>numberText={{numberText}}</p>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "",
            area: "",
            checked: "true",
            checkedName: [],
            picked: "",
            //初始值未匹配到选项，会给定一个空值
            selected: "",
            cityList: [{"cityCode": "320001", "cityName": "江苏省南京市"}, {"cityCode": "320002", "cityName": "江苏省常州市"},
                {"cityCode": "320004", "cityName": "江苏省盐城市"}],
            citySelected: ""
        }
    });
    var changeVm = new Vue({
        el: "#changeApp",
        data: {
            lazyText: ""
        }
    });
</script>
</body>
</html>